<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Math Snake Game</title>
</head>
<body style ="background-color:	rgb(153, 255, 179);">
    <h1  style = "text-align:center; font-size:50px; font-family: Lucida Console,Courier New, monospace;
         margin-top : +150px; color : rgb(0, 102, 0);">Playing Math Snake Game</h1>
<!--    <p style = "text-align:center; font-size:30px; color : rgb(0, 0, 153);">Level: {{ level }}</p>-->
    <p style = "text-align:center; font-size:20px; font-style: oblique;">The game is running in another window!</p>
</body>
</html>

